@charset "UTF-8";
*{
	padding:0px;
	margin:0px;
}
html{
	height:100%;
}
body{
	height:100%;
	background-color:#ccc;
}
#wrapper{
	width:1000px;
	height:100%;
	margin:0 auto;
	background-color:#FFF;

}
#wrapper h1{
	text-align:center;
}
#wrapper *{
	margin:6px;
}
.btnStyle{
	width:100px;
	height:100px;
	color:white;
	text-align: center;
}
div:nth-of-type(2){
	display: block;
}
div:nth-of-type(3){
	display: block;
}