@charset "UTF-8";
*{
	padding:0px;
	margin:0px;
}
html{
	height:100%;
	background-color: dodgerblue;
}
body{
	height:100%;
	background-color:#ccc;
}
#wrapper{
	width:780px;
	border: 1px solid black;
	/*height:100%;*/
	margin:30px auto;
	padding: 30px;
	text-align: left;
	/*background-color:#FFF;*/

}
input,select,textarea{
	min-height: 30px;
	min-width: 100px;
	margin: 10px auto;
}
input{
	border:none;
	border-bottom: 1px solid darkgray;
}
.buttons > input{
	margin-top: 30px;
	/*box-sizing:*/
}
.red{
	border-bottom: 1px solid red;
}
#wrapper h1{
	text-align:center;
}
/*#wrapper *{
	margin:6px;
}*/